@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Libre+Caslon+Display&family=Roboto:wght@100;300;400&family=Rye&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: black;
}

.titulo {
  font-size: 80px;
}

.header {
  width: 100%;
  position: relative;
}

@keyframes teste {
    0% {
      transform: translate(-90%);
    }

    100% {
      transform: translate(0%);
    }
}
.card_info {
  margin: auto;
  animation: teste 4s;
}

.card_title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}
.card_desc {
  display: flex;
  gap: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
@media screen and (min-width:768px) {
  .card_title {
    font-size: 4rem;
  }
  .card_desc {
    font-size: 1.2rem;
  }
}

.about_content {
  letter-spacing: 2px;
  width: 50%;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}


/* @media screen and (min-width: 768px) and (max-width: 992px) {
  div#about_content {
    width: 15%;
    background-color: blue;
  }
} */

