@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Libre+Caslon+Display&family=Roboto:wght@100;300;400&family=Rye&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: black;
}

.titulo {
  font-size: 80px;
}

.header {
  width: 100%;
  position: relative;
}

@keyframes teste {
    0% {
      transform: translate(-90%);
    }

    100% {
      transform: translate(0%);
    }
}
.card_info {
  margin: auto;
  animation: teste 4s;
}

.card_title {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 600;
}

.socials {
  align-items: flex-end;
  height: fit-content;
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
  animation: icons_move 6s infinite alternate;
}

@keyframes icons_move{
  0% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(420%);
  }
}

.icon :hover {
  color: rgba(0, 0, 0, 0.568);
}