.box_skills {
    display: flex;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
}

.title_skills {
    font-size: small;
   
    
}
@media screen and (min-width: 640px) {
    .title_skills {
        font-size: medium;
    }
  }