.socials {
    align-items: flex-end;
    height: fit-content;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    animation: icons_move 6s infinite alternate;
    background-color: rgb(29 138 134)
  }
  
  @keyframes icons_move{
    0% {
      transform: translateY(20%);
    }
  
    100% {
      transform: translateY(420%);
    }
  }

  .icon {
    padding: 2px;
  }
  
  .icon :hover {
    color: rgba(0, 0, 0, 0.568);
  }